*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
body{
    background: #B9285E;
}
#accordion{
    margin: 0px auto;
    width: 600px;
}
#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: black;
}
#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: black;

}
#accordion label + input[type="radio"]{
    display: none;
}
#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}

.faq{
    padding: 50px;
}
.faq h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
}
.faq h2{
    color: #fff;
    text-align: center;
    font-size: 20px;
}


